body {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    background-color: #f7e7b3;
}

/* #CD8C5F
#217780 */
h1,
h2, 
h3, 
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: black;
}

h2 {
    padding-top: 2rem;
}

.blankets {
    background: url(./img/graphic-work-transparent.png) center;
    /* height: calc(100vh - 56px); */
    height: calc(100vh - 313px);
}

.btn-lg:hover,
.btn-lg:focus {
    filter: brightness(120%)
}

.btn-lg {
    background-color: #308492;
}

.second-btn {
    background-color: #2F76A8;
}

.inner {
    display: inline-block;
}

.headshot {
    border: 0.1rem solid white;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.overview-pic {
    /* border: 0.1rem solid black; */
    max-width: 100%;
    max-height: 100%;
}

#questions {
    /* color: white; */
}

img.divider{
    margin: 2rem auto 3rem auto !important; 
}

.question {
    margin-bottom: 4rem;
    color: black;
}

.subquestion {
    margin-bottom: 1rem;
    margin-left: 3rem;
    color: black;
}

.questions-box {
    margin-left: 10%;
    max-width: 80%;
}

.observation-box {
    max-width: 85%;
}

.short-summary {
    margin: 0rem 8rem 5rem 8rem; 
}

.short-caption {
    margin: 0rem 8rem 3rem 8rem; 
}

.icon {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
}

.section-head {
    display: inline;
}

.inter {
    background-color: #f8e6cd;
}

.example {
    width: 100%;
}

.prototype {
    width: 100%;
}

.metric {
    color: #21626d;
    font-size: 1.2em;
}

.blurb {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.blurb-top {
    margin-left: 50%;
    margin-right: 50%;
    width: 45%;
}

.row_wireframes {
    line-height: 0;
}